/* Base Styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --greyblue: #425178;
    --blue: #95e3e4;
    --hover: rgba(49, 52, 61, 1);
    --dark: #31343d;
    --light:#ededf6;
  }
body {
    background-color: var(--light);
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}
a {
    color: var(--blue);
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
  color: var(--greyblue);
  margin: 0;
}
/* Header Styles */
Header {
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--hover);
}
header h1 {
  display: inline-block;
  padding: 10px 20px 10px 100px;
  font-size: 56px;
  color: var(--dark);
  background-color: var(--blue);
  margin: 0 50px 0 -45px;
}
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 30px;
}

nav a {
  padding: 5px 10px;
  margin: 10px;
  background-image: linear-gradient(270deg, var(--blue) 0%, var(--blue) 100%);
  background-repeat: no-repeat;
  background-size: 120% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.4rem;
}


/* Hero Image Styles */
.hero-image {
    background: url("../images/heroimage.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    min-height: 30vh;
    padding: 2% 8%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}
.hero-image div {
    flex: 0 0 90%;
  }
.hero-image h2 {
    background-color: var(--blue);
    margin-left: 5px;
    margin-right: -30px;
    color: var(--dark);
    padding: 5px 10px;
    font-size: 2.5rem;
    line-height: 1.2;
    display: inline;
  }

/* Page Wrapper and Sections */
  .page-wrapper {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }
  
  .page-section h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--greyblue);
    font-size: 4vw;
    line-height: 1.1;
  }
  
  .page-section div {
    flex: 0 0 77%;
    
  }
  
  .page-section p {
    margin-bottom: 20px;
  }
  /* Flex Container and Items */
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  .flex-container div {
    background-color: var(--blue);
    width: auto;
    flex: 0 0 auto;
}
  .flex-item {
    border: 5px solid var(--blue);
    background-color: var(--greyblue);
    color: var(--hover);
    min-height: 120px;
    max-height: 120px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 120%;
    transition: all 0.5s;
  }
  
  .flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
  }
  
  .flex-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .contact address a {
    color: var(--hover);
    padding: 4px;
    align-items: center;
    text-decoration: none;
    font-style: normal;
    margin: 3rem 2.2rem 0.2rem;
    background-image: linear(270deg, var(--greyblue) 0%, var(--greyblue) 100%);
    border-bottom: 4px solid var(--greyblue);
  }

  .contact address a:hover {
    color: var(--greyblue);
  }
/*Images*/
  .Surf-report {
    background-image: url(../images/cat1.png);
  }
  
  .LED-WALL {
    background-image: url(../images/cat2.png);
  }
  
  .Calculator {
    background-image: url(../images/cat3.png);
  }
  
  .Pastel {
    background-image: url(../images/cat4.png) 
  }
  
  .Run-Buddy {
    background-image: url(../images/cat5.png);
  }
  /* Responsive Styles for Tablet */

@media screen and (max-width: 1000px) {
  .page-section {
    flex-direction: column;
  }
  .header {
    padding: 0 0 15px 0;
    justify-content: center;
    text-align: center;
  }

  .header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;
  }

  .header div {
    justify-content: center;
  }

  .page-section > h2 
  .page-section > div {
    flex: 0 0 100%;
  }

  .page-section > h2 {
    border-right: none;
    border-bottom: 4px solid var(--greyblue);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }
}

/* Responsive Styles for Mobile */
@media screen and (max-width: 768px) {
  .page-section {
    flex-direction: column;
  }
  .flex-item,
  .flex-item:first-child {
    flex-basis: 100%;
  }
  
  .flex-item:first-child {
    min-height: 150px;
  }
  
  .hero-image {
    justify-content: center;
    text-align: center;
  }
  .hero-image h2 {
    margin: 0;
  }

  .contact address {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (max-width: 320px) {
  header h1 {
    font-size: 32px;
    padding: 10px 20px;
    margin: 0;
    text-align: center;
  }
}
